<nav class="navbar navbar-expand-lg navbar-dark background-nb">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/IMG/Logo_final.PNG" height="30px" alt=""> Lab con Barry y Bel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link active" href="/">Inicio
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recursos">Recursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/videojuego">Videojuego</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Certificado</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="true">Cuenta</a>
            <div class="dropdown-menu show" data-popper-placement="bottom-start"
                 style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 44px, 0px);">
              <a class="dropdown-item" href="/users/login">Cerrar Sesión</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">¡Regístrate!</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
