.image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue-text {
    color: #1b2743;
    font-family: 'Comic Neue', cursive;
}

.imagen-principal {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.imagen-recursos {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.imagen-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.background-nb {
    background-color: #293e6b;

}

.img-pequena {
    width: 30%;
    display: block;
    margin: auto;
}

.fondo-pp {
    background-color: #fdfcf3;
}

.borde-recursos {
    border: 20px solid #FF9600;
    box-shadow: 5px 10px 8px #888888;
}

.borde-recursos1 {
    border: 20px solid #FF9600;
}

.borde-recursos2 {
    border: 20px solid #FD979F;
}

.borde-recursos3 {
    border: 20px solid #2D8D9D;
}

.borde-recursos4 {
    border: 20px solid #F35924;
}

.imagen-curva {
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    width: 100%;
}

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
