<div class="container-fluid my-5">
  <h2 class="text-center mx-4 blue-text">Felicidades, este es tu certificado</h2>
</div>


<div class="container-fluid image ">
  <div class="mx-auto imagen-recursos image my-5">
    <img src="https://www.matthews.com.au/upload/images/xQR,281,29.jpg.pagespeed.ic.vZsmcE9itQ.webp"
         alt="Imagen reglamento general" class="borde-recursos" width="100%">
  </div>
</div>
