<img src="/IMG/Untitled_Artwork.gif" alt="Logo Lab con Barry y Bel" width="40%" height="40%"
     class="rounded mx-auto d-block image">

<h1 class="text-center mx-4 blue-text">¡Comienza tu aprendizaje con Barry y Bel!</h1>
<br>
<div class="alert alert-dismissible alert-warning container-fluid" style="width: 540px; display: none;">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Advertencia!</h4>
  <p class="mb-0">No has iniciado sesion!<a href="#" class="alert-link">Inicia sesion</a> o <a href="#"
                                                                                               class="alert-link">Registrate</a>
  </p>
</div>

<h4 class="text-center mx-4">En este sitio podrás encontrar toda la información necesaria para ingresar al laboratorio
  de manufactura.</h4>
<br>
<h4 class="text-center mx-4">Podrás aprender junto con Barry y Bel, donde te enseñarán todas
  las reglas importantes dentro del laboratorio.</h4>


<div class="container-fluid d-flex justify-content-center my-4" style="margin-top: 30px;">
  <a href="/recursos">
    <button type="button" class="btn btn-success">Comenzar a aprender</button>
  </a>
</div>

