<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/estilos/style.css">
    <link rel="stylesheet" href="../public/estilos/bootstrap.min.css">
    <title>Lab con Barry y Bel</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark background-nb">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Lab con Barry y Bel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="index.html">Inicio
                    <span class="visually-hidden">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="videojuego.html">Videojuego</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href=#>Recursos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Certificado</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Cuenta</a>
                    <div class="dropdown-menu show" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 44px, 0px);">
                      <a class="dropdown-item" href="iniciaSesion.handlebars">Cerrar Sesión</a>
                    </div>
                  </li>
            </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid" >
        <div class="row" >
            <div class="col">
                <br>
                <br>
                <h2 class="text">Reglamento General del Laboratorio</h2>
                <a href="../public/IMG/barry_58_lab 1.png">
                    <img class="image-resources" src="../public/IMG/barry_58_lab 1.png">
                </a>
            </div>
            <div class="col">
                <h2 class="text">Medidas de Seguridad</h2>
                <a href="../public/IMG/barry_32_lab 1.png">
                    <img class="image-resources" src="../public/IMG/barry_32_lab 1.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="text">Reglamento para el Laboratorio de Maquinados</h2>
                <a href="../public/IMG/reglamentoLaboratorioMaquinados.png">
                    <img class="image-resources" src="../public/IMG/reglamentoLaboratorioMaquinados.png">
                </a>
            </div>
            <div class="col">
                <h2 class="text">Caso de emergencias</h2>
                <a href="../public/IMG/emergencias.png">
                    <img class="image-resources" src="../public/IMG/emergencias.png" style="width: 100%; height: auto;">
                </a>
            </div>
        </div>
    </div>



</body>
</html>
