<div class="container-fluid my-5">
  <h1 class="text-center mx-4 blue-text">Comienza tu aprendizaje consultando los siguientes recursos.</h1>
  <h2 class="text-center mx-4 blue-text">Recuerda que para completar el videojuego, es necesario que estudies el
    contenido de los reglamentos.</h2>
</div>


<div class="container-fluid  image ">
  <div class="row mx-4">
    <div class=" col-md-6">
      <div class="mx-auto imagen-centrada image">
        <img src="/IMG/Reglamento_Laboratorio.png" alt="Imagen reglamento general" class="borde-recursos" width="100%">
      </div>
    </div>
    <div class=" col-md-6">
      <div class="mx-auto imagen-centrada image">
        <img src="/IMG/Medidas_seguridad.png" alt="Imagen medidas seguridad" class="borde-recursos" width="100%">
      </div>
    </div>

  </div>
</div>

<div class="container-fluid  image ">
  <div class="row mx-4">
    <div class=" col-md-6">
      <div class="mx-auto imagen-centrada image">
        <img src="/IMG/Laboratorio_maquinado.png" alt="Imagen reglamento laboratorio de maquinado"
             class="borde-recursos"
             width="100%">
      </div>
    </div>
    <div class=" col-md-6">
      <div class="mx-auto imagen-centrada image">
        <img src="/IMG/Emergencias.png" alt="Imagen emergencias" class="borde-recursos" width="100%">
      </div>
    </div>

  </div>
</div>
