<div class="container-fluid ">
  <div class="row align-items-center">
    <div class="col-lg-2 d-none d-lg-block text-center p-0" style="background-color: #FD979F;">
      <img src="/IMG/BaryBelCuadros/4.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-md-block text-center p-0" style="background-color: #FD979F;">
      <img src="/IMG/BaryBelCuadros/3.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-4 col-md-6 text-center p-0" style="background-color: #FF9600;">
      <img src="/IMG/BaryBelCuadros/BaryBelCuadros.png" alt="Bel" class="m-0" width="50%">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-md-block text-center p-0" style="background-color: #2D8D9D;">
      <img src="/IMG/BaryBelCuadros/1.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-2 d-none d-lg-block text-center p-0" style="background-color: #2D8D9D;">
      <img src="/IMG/BaryBelCuadros/5.png" alt="Bel" class="m-0" width="100%">
    </div>
  </div>
</div>


<div class="container-fluid my-5">
  <h2 class="text-center mx-4 blue-text">Recuerda que para completar el videojuego, es necesario que estudies el
    contenido de los reglamentos.</h2>
</div>


<div class="container-fluid image ">
  <div class="mx-auto imagen-recursos image my-5">
    <img src="/IMG/Reglamento_Laboratorio.png" alt="Imagen reglamento general" class="borde-recursos" width="100%">
  </div>
  <div class="mx-auto imagen-recursos image my-5">
    <img src="/IMG/Medidas_seguridad.png" alt="Imagen medidas seguridad" class="borde-recursos" width="100%">
  </div>
  <div class="mx-auto imagen-recursos image my-5">
    <img src="/IMG/Laboratorio_maquinado.png" alt="Imagen medidas seguridad" class="borde-recursos" width="100%">
  </div>
  <div class="mx-auto imagen-recursos image my-5">
    <img src="/IMG/Emergencias.png" alt="Imagen medidas seguridad" class="borde-recursos" width="100%">
  </div>
</div>


<div class="container-fluid d-flex justify-content-center my-4" style="margin-top: 30px;">
  <a href="/videojuego">
    <button type="button" class="btn btn-success">Ir a la sección de Videjuego</button>
  </a>
</div>
