<div class="container-fluid" >
  <div class="row" >
    <div class="col">
      <br>
      <br>
      <h2 class="text">Reglamento General del Laboratorio</h2>
      <a href="/IMG/barry_58_lab 1.png">
        <img class="image-resources" src="/IMG/barry_58_lab 1.png">
      </a>
    </div>
    <div class="col">
      <h2 class="text">Medidas de Seguridad</h2>
      <a href="/IMG/barry_32_lab 1.png">
        <img class="image-resources" src="/IMG/barry_32_lab 1.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text">Reglamento para el Laboratorio de Maquinados</h2>
      <a href="/IMG/reglamentoLaboratorioMaquinados.png">
        <img class="image-resources" src="/IMG/reglamentoLaboratorioMaquinados.png">
      </a>
    </div>
    <div class="col">
      <h2 class="text">Caso de emergencias</h2>
      <a href="/IMG/emergencias.png">
        <img class="image-resources" src="/IMG/emergencias.png" style="width: 100%; height: auto;">
      </a>
    </div>
  </div>
</div>
