<br>
<br>
<img class="text-center img-pequena" src="IMG/quien_eres.png" alt="logo Barry y Bel">
<h1 class="text-center">Registro</h1>

<form action="/registrarse" method="post" class="form-group row d-flex justify-content-center">
  <div class="form-group " style="width: 720px;">
    <label for="exampleInputEmail1" class="form-label mt-4">Nombre</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Nombre" name="nombre">
  </div>
  <div class="form-group " style="width: 720px;">
    <label for="exampleInputEmail1" class="form-label mt-4">Apellido Paterno</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Apellido Paterno" name="apellido_paterno">
  </div>
  <div class="form-group " style="width: 720px;">
    <label for="exampleInputEmail1" class="form-label mt-4">Apellido Materno</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Apellido Materno" name="apellido_materno">
  </div>
  <div class="form-group " style="width: 720px;">
    <label for="exampleInputEmail1" class="form-label mt-4">Carrera o Avenida</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Carrera o Avenida">
    <small id="emailHelp" class="form-text text-muted">Utiliza abreviacion (IMT)</small>
  </div>
  <div class="form-group " style="width: 720px;">
    <label for="exampleInputEmail1" class="form-label mt-4">Correo institucional</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email">
    <small id="emailHelp" class="form-text text-muted">Utiliza tu correo institucional.</small>
  </div>
  <div class="form-group" style="width: 720px;">
    <label for="exampleInputPassword1" class="form-label mt-4">Constraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
  </div>
  <div class="container-fluid d-flex justify-content-center" style="margin-top: 30px;">
    <button type="submit" class="btn btn-success">Registrarse</button>
  </div>
</form>
