<!--<div class="card text-white mb-3 mx-auto" style="max-width: 20rem; margin-top: 50px; background-color: #4b8c9e;">-->
<!--  <div class="card-header">Recuerda</div>-->
<!--  <div class="card-body">-->
<!--    <p class="card-text">Si no haz consultado el contenido del reglamento en la pestaña de recursos, por favor regresa y-->
<!--      estúdialo.</p>-->
<!--    <a href="/">-->
<!--      <button class="btn btn-primary">Salir</button>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card text-white mb-3 mx-auto" style="max-width: 20rem; background-color: #e26438">-->
<!--  <div class="card-header">Jugar</div>-->
<!--  <div class="card-body">-->
<!--    <p class="card-text">¿Listo para jugar? Presiona el botón para comenzar el videojuego. Recuerda que una vez que lo-->
<!--      completes con calificación aprobatoria podrás consultar tu certificado en la pestaña de Certificado</p>-->
<!--    <div class="container-fluid d-flex justify-content-center image">-->
<!--      <br>-->
<!--      <a-->
<!--        href="https://www.figma.com/proto/2JzUvRA6nQfweknfkDUFSt/Untitled?type=design&node-id=20-2&scaling=scale-down&page-id=0%3A1&starting-point-node-id=20%3A2&show-proto-sidebar=1"><img-->
<!--        src="/IMG/Bel_Art_Victoria.png" width="60%"></a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container" style="height: 80vh !important">
  <iframe src="https://labconbarry.s3.amazonaws.com/index.html" style="height: 100%; width: 100%"></iframe>
</div>
