<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/estilos/style.css">
    <link rel="stylesheet" href="../public/estilos/bootstrap.min.css">
    <title>Lab con Barry y Bel</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark background-nb">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Lab con Barry y Bel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="videojuego.html">Videojuego</a>
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Certificado</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Cuenta</a>
                    <div class="dropdown-menu show" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 44px, 0px);">
                      <a class="dropdown-item" href="iniciaSesion.handlebars">Cerrar Sesión</a>
                    </div>
                  </li>
            </ul>
            </div>
        </div>
    </nav>



    <div class="card text-white mb-3 mx-auto" style="max-width: 20rem; margin-top: 50px; background-color: #4b8c9e;">
      <div class="card-header">Recuerda</div>
      <div class="card-body">
        <p class="card-text">Si no haz consultado el contenido del reglamento en la pestaña de recursos, por favor regresa y estúdialo.</p>
        <a href="index.html">
          <button class="btn btn-primary">Salir</button>
      </a>
      </div>
    </div>
    <div class="card text-white mb-3 mx-auto" style="max-width: 20rem; background-color: #e26438">
      <div class="card-header">Jugar</div>
      <div class="card-body">
        <p class="card-text">¿Listo para jugar? Presiona el botón para comenzar el videojuego. Recuerda que una vez que lo completes con calificación aprobatoria podrás consultar tu certificado en la pestaña de Certificado</p>
        <div class="container-fluid d-flex justify-content-center image">
          <br>
            <a href="https://www.figma.com/proto/2JzUvRA6nQfweknfkDUFSt/Untitled?type=design&node-id=20-2&scaling=scale-down&page-id=0%3A1&starting-point-node-id=20%3A2&show-proto-sidebar=1"><img src="../public/IMG/Bel_Art_Victoria.png" width="60%" ></a>
        </div>
      </div>
    </div>





</body>
</html>
