<div class="container-fluid ">
  <div class="row align-items-center">
    <div class="col-lg-2 d-none d-lg-block text-center p-0" style="background-color: #FD979F;">
      <img src="/IMG/BaryBelCuadros/3.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-md-block text-center p-0" style="background-color: #FD979F;">
      <img src="/IMG/BaryBelCuadros/2.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-4 col-md-6 text-center p-0" style="background-color: #69D1E2;">
      <img src="/IMG/BaryBelCuadros/ListoParaJugar.png" alt="Bel" class="m-0" width="50%">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-md-block text-center p-0" style="background-color: #2D8D9D;">
      <img src="/IMG/BaryBelCuadros/4.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-2 d-none d-lg-block text-center p-0" style="background-color: #2D8D9D;">
      <img src="/IMG/BaryBelCuadros/1.png" alt="Bel" class="m-0" width="100%">
    </div>
  </div>
</div>


<div class="container-fluid my-5">
  <h2 class="text-center mx-4 blue-text">Una vez que completes el videojuego, podrás consultar tu certificado en la
    sección de Certificado. Recuerda que para ingresar al laboratorio debes mostrarlo.</h2>
</div>

<div class="container-fluid  image ">
  <div class="row mx-4">
    <div class="card text-white mb-3 mx-auto col-md-6 text-center " style="background-color: #4b8c9e;">
      <div class="card-header">Recuerda</div>
      <div class="card-body">
        <p class="card-text">Si no haz consultado el contenido del reglamento en la pestaña de recursos, por favor
          regresa y estúdialo. Selecciona regresar para ver el contenido.</p>
        <div class="mx-auto imagen-centrada image" style="max-width: 300px;">
          <a href="/recursos"><img src="/IMG/Bel_Art_Normal 2.png" width="63%"></a>
        </div>

      </div>
    </div>
    <div class="card text-white mb-3 mx-auto col-md-6 text-center " style="background-color: #e26438">
      <div class="card-header">Jugar</div>
      <div class="card-body">
        <p class="card-text">¿Listo para jugar? Presiona el botón para comenzar el videojuego. Recuerda que una vez que
          lo completes podrás consultar tu certificado en la pestaña de Certificado.</p>
        <div class="mx-auto imagen-centrada image" style="max-width: 300px;">
          <a
            href="https://www.figma.com/proto/2JzUvRA6nQfweknfkDUFSt/Untitled?type=design&node-id=20-2&scaling=scale-down&page-id=0%3A1&starting-point-node-id=20%3A2&show-proto-sidebar=1"><img
            src="/IMG/Barry_Art_Normal 2.png" width="60%"></a>
        </div>
      </div>
    </div>
  </div>
</div>
