<div class="container-fluid my-5">
  <h2 class="text-center mx-4 blue-text">Felicidades {{user.Nombre}} {{user.ApellidoPaterno}} {{user.ApellidoMaterno}},
    este es tu certificado</h2>

</div>


<div class="container-fluid image ">
  <div class="mx-auto imagen-recursos image my-5">
    <img src="{{qr}}"
         alt="Certificado" class="borde-recursos" width="100%">
  </div>
</div>
